.App {
  text-align: center;
}
.container-fluid {
  padding: 0%!important;
}
.row {
  margin: 0%!important;
}


/* ----nav dropdown icon--- */
.nav-link.dropdown-toggle::after {
  transform: rotate(-90deg);
}
.nav-link.dropdown-toggle.arr::after {
  transform: rotate(0deg);
}
/* --------------------------- */


